<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         strict="true"
         colors="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="modifiers">
            <file>tests/ModifiersTest.php</file>
        </testsuite>
        <testsuite name="config">
            <file>tests/ConfigTest.php</file>
        </testsuite>
        <testsuite name="results">
            <directory>tests/Result/</directory>
        </testsuite>
        <testsuite name="adapter">
            <file>tests/AdapterTest.php</file>
        </testsuite>
        <testsuite name="builder">
            <file>tests/BuilderTest.php</file>
        </testsuite>
        <testsuite name="regular-expression">
            <file>tests/RegularExpressionTest.php</file>
        </testsuite>
        <testsuite name="regular-expression-collection">
            <file>tests/RegularExpressionCollectionTest.php</file>
        </testsuite>
        <testsuite name="regex">
            <file>tests/RegexTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
